.interlocutorIcon {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.name {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(61, 61, 61);
}

.container {
  display: flex;
  border-bottom: 1px solid grey;
  height: 40px;
  background: lightgrey;
  padding: 10px 20px;
}
