body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  height: 430px;
}
